.partners-container {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 1rem;
}

.partners-slider {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.partners-slider::-webkit-scrollbar {
  display: none;
}

.partner-logo {
  width: 80px;
  object-fit: contain;
  animation: scroll-carousel 20s linear infinite;
  scroll-snap-align: start;
}

@keyframes scroll-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
